#signup__button,#login__button {
  border-radius: 8px;
  border: none;
  padding: 1.5rem;
  outline: none;
  background: none;
  color: var(--main-black);
  font-size: 2rem;
  background-color: var(--primary);
  box-shadow: -7px 7px 0 var(--dark-blue-600), -14px 14px 0 var(--dark-blue-800);
  transition: 1s;
  cursor: pointer;
}
#signup__button:hover,#login__button:hover {
  transform: translate(-10px, 10px);
  box-shadow: 0px 0px 0 black;
}
#form__container {
  width: 50rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 24px;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4),
    -7px 7px 0 var(--dark-blue-600), -14px 14px 0 var(--dark-blue-800);
}
#heading {
  font-size: 3rem;
  padding: 1rem;
  font-weight: 900;
  color: var(--gray-400);
}
form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  box-sizing: border-box;
  color: var(--gray-400);
}
#name,
#email,
#password  {
  height: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

#footer {
  width: 100%;
  display: flex;
  height: 6rem;
  align-items: center;
  margin-bottom: 2rem;
}
#termsAndCondition__container {
  display: flex;
  flex-direction: row;
}
#termsAndCondition {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 8px;
  top: -2px;
  width: 20px;
  height: 20px;
}
#email__input,
#name__input,
#password__input {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--primary);
  background: none;
  color: var(--gray-400);
}
label {
  font-size: 2rem;
}

form {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  box-sizing: border-box;
  color: var(--gray-400);
}

#footer {
  width: 100%;
  display: flex;
  height: 6rem;
  align-items: center;
  margin-bottom: 2rem;
}
#rememberMe__container {
  display: flex;
  flex-direction: row;
}
#rememberMe {
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 8px;
  top: -2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#forgotPassword {
  margin-left: auto;
  font-size: 2rem;
  color: var(--primary);
  cursor: pointer;
}
#email__input {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--primary);
  background: none;
  color: var(--gray-400);
}
#password__input {
  width: 100%;
  box-sizing: border-box;
  height: 3rem;
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--primary);
  background: none;
  color: var(--gray-400);
}

