@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher:wght@700&display=swap");

/*Elements*/

html {
  width: 100%;
  font-size: 8px;
  font-family: Philosophy, "Noto Sans";
}
body {
  height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 1fr;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  justify-items: center;
  align-items: center;
}
main {
  height: 90vh;
}
#main__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr;
  position: relative;
  overflow: auto;
  position: sticky;
}
#main__container::-webkit-scrollbar {
  display: none;
}
/*Navbar*/
#logo {
  margin-left: 2rem;
  font-size: 4rem;
}
#links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.link {
  margin-right: 2rem;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
#search__container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  box-shadow: inset -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  margin-right: 2rem;
}
#search__input {
  width: 90%;
  min-width: 10rem;
  height: 5rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  transition: 0.5s;
  color: var(--gray-400);
  background: none;
}
i {
  display: inline-block;
  vertical-align: center;
}
#search__icon {
  color: var(--primary);
  position: relative;
  margin-left: auto;
  margin-right: 0;
  box-shadow: inset -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
.link {
  position: relative;
  font-size: 1.5rem;
  top: 2px;
  border-radius: 50%; 
}
#signup {
  border: none;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  width: max-content;
  border-radius: 8px;
}

::placeholder {
  color: var(--gray-400);
  opacity: 1; 
  border-left: 4px;
}

#filters {
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5vh;
  border-radius: 8px;
  margin-top: 5rem;
  margin-left: 2rem;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}

#row_one {
  display: flex;
  margin: 2rem 0;
}
#filter__clear {
  margin-left: auto;
}
#row_two {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#row_three {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

#row_four {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#row_five {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#rating__radio-button {
  display: flex;
  flex-direction: column;
}
.radio {
  height: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  top: 1px;
  width: 2rem;
  padding: 2rem;
}
#products {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 5vh;
  margin-left: 10rem;
  gap: 4rem;
}
#products::-webkit-scrollbar {
  display: none;
}
.liked:hover {
  transition: 0.4s;
  animation-name: liked;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
}
.category {
  margin-bottom: 15px;
}
.list__wrapper {
  border: 0px solid var(--gray-400);
}
@keyframes liked {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card__wrapper {
  width: 30rem;
  border-radius: 16px;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  background-color: var(--gray-800);
  transition: 0.4s;
}
.card__wrapper:hover {
  transform: scale(1.05);
}

.card__image--tall {
  height: 20rem;
}

.modal {
  width: 50%;
  background-color: var(--main-white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#modal__image {
  margin-top: 0rem;
  border-radius: 4px;
}
.content__wrapper {
  width: 50%;
}
.rating {
  width: fit-content;
}
