
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher:wght@700&display=swap');



/*Elements*/

html{
    height:100%;
    width:100%;
    font-size: 12px;
    font-family:Philosophy,'Noto Sans';
}
body{
    height:100%;
    border:0;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: white;
    }
    
nav{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    height:10vh;
    width:100%;
    align-items: center;
    /* position: sticky;
    top:0; */
    backdrop-filter: blur(10px);
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
    
}
main{
    height:90vh;
}
#main__container{
    width:100%;
    display:grid;
    grid-template-columns: 2fr 7fr;
    position: relative;
    overflow: hidden;
    position: sticky;
}
#main__container::-webkit-scrollbar{
    display: none;
}
/*Navbar*/
#logo{
    margin-left:2rem;
    font-size: 4rem;
}
#links{
    width:100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    
}
.link{
    margin-right:2rem;
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
    border-radius:4px;
}
#search__container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    width:20%;
    height:3rem;
    font-size:1.8rem;
    outline: none;
    border: none;
    background: var(--gray-800);
    border-bottom: 2px solid var(--primary);
    transition:.5s;
    color: var(--gray-400);
    border-radius:2px;
}
i{
    display: inline-block;
    vertical-align: center;
}
#search__icon {
    color:var(--primary);
    position: relative;
    top: 6px; /*Change this to adjust the icon*/
}
.link {
    position: relative; 
    font-size:1.5rem;
    top: 2px; 
    border-radius:50%;/*Change this to adjust the icon*/
}
#signup{
    border:none;
    font-size:1.5rem;
    padding:1rem 4rem;
    border-radius: 8px;
}
#search:active,#search:focus{
    width:40%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--gray-400);
  opacity: 1; /* Firefox */
  border-left:4px;
}

/*Main Grid first */

#filters{ 
    height:90%;
    display: flex;
    flex-direction: column;
    min-width:30rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: sticky;
    top:0;
    border-radius:8px;
    margin-top:5rem;
    margin-left:2rem;
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}

#row_one{
display: flex;
margin:2rem 0;
}
#filter__clear{
    margin-left:auto;
}
#row_two{
    display: flex;
    flex-direction: column;margin:1rem 0;
}
#row_three{
    display: flex;
    flex-direction: column;margin:1rem 0;
}

#row_four{
display: flex;
    flex-direction: column;margin:1rem 0;
}
#row_five{
    display: flex;
    flex-direction: column;margin:1rem 0;
}
#rating__radio-button{
    display: flex;
    flex-direction: column;
}
.radio{
    height: 15px;
    margin-right: 15px;
    position: relative;
    top:6px;
    width: 2rem;
    padding:2rem;
}
#products{
    height:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    overflow:auto;
    align-items: center;
    margin-top:0rem;
    margin-left:10rem;
}
#products::-webkit-scrollbar{
    display:none;
}
.liked:hover{
    transition:0.4s;
    animation-name: liked;
  animation-duration: 0.4s ;
  animation-iteration-count: 2;
}

@keyframes liked {
  0% {transform:scale(1);opacity:1;}
  50% {transform:scale(1.3);opacity:0.4;}
  100%{trans form:scale(1);opacity:1;}
}

.card__wrapper{
    width:30rem;
    border-radius:15px;
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  
}
#addtocart{
    margin-bottom:2rem;
    margin-left:auto;
    margin-right:auto;
}