
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher:wght@700&display=swap');


/*Elements*/

html{
    height:100%;
    width:100%;
    font-size: 8px;
    font-family:Philosophy,'Noto Sans';
}
body{
    height:max-content;
    border:0;
    margin:0;
    padding:0;
    width:100%;
    }
    
nav{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    min-height:10vh;
    width:100%;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
    
}



/*Navbar*/
#logo{
    margin-left:2rem;
    font-size: 4rem;
}
#links{
    width:100%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    
}
.link{
    margin-right:2rem;
    box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
    border-radius:4px;
}
#search__container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    width:20%;
    min-width:10rem;
    height:5rem;
    font-size:1.8rem;
    outline: none;
    border: none;
    background: var(--gray-800);
    box-shadow: inset -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
    transition:.5s;
    color: var(--gray-400);
    border-radius:24px;
}
i{
    display: inline-block;
    vertical-align: center;
}
#search__icon {
    color:var(--primary);
    position: relative;
    top: 6px; /*Change this to adjust the icon*/
}
.link {
    position: relative; 
    font-size:1.5rem;
    top: 2px; 
    border-radius:50%;/*Change this to adjust the icon*/
}
#login{
    border:none;
    font-size:1.5rem;
    padding:1rem 4rem;
    width:max-content;
    border-radius: 8px;
}
#search:active,#search:focus{
    width:40%;
}
::placeholder { 
  color: var(--gray-400);
  opacity: 1; 
  border-left:4px;
}


main{
    height:max-content;
    width:100%;
    display: grid;
    margin-bottom:5rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    row-gap: 4rem;
    grid-template-areas: 
    ".... new__arrival new__arrival  ...."
    ".... new__arrival new__arrival  ...."
    ".... categories categories  ....."
    ".... categories categories  ....."
    ".... collections collections  ....."
    ".... collections collections  ....."
    ;

}





/*Main Grid first */

#categories{
    min-width:80rem;
    grid-area:categories;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center;
}
#collections{
    min-width:100rem;
    grid-area:collections;
    width:100%;
    border-radius:20px;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);
}
#new__arrivals{
    min-width:80rem;
    grid-area:new__arrival;
    width:100%;
    border-radius:20px;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 16%), 0 16px 24px 2px rgb(0 0 0 / 11%), 0 6px 30px 5px rgb(0 0 0 / 10%);

}

#category{
 /* min-height:20rem;
 min-width:15rem; */
 border-radius:15px;
 display: flex;
 justify-content: center;
 position:relative;
 cursor:pointer;
 transition:1s;
 box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
#collection{
 /* max-height:600px; */
 border-radius:15px;
 display: flex;
 justify-content: center;
 position:relative;
 cursor:pointer;
 transition:1s;
 box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
#new__arrival{
 border-radius:15px;
 display: flex;
 justify-content: center;
 position:relative;
 cursor:pointer;
 transition:1s;
 box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
#category:hover{
 box-shadow:0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2) ;
}
#collection:hover{
 box-shadow:0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2) ;
}
#new__arrival:hover{
 box-shadow:0px 16px 24px 2px rgba(0,0,0,0.14) , 0px 6px 30px 5px rgba(0,0,0,0.12) , 0px 8px 10px -7px rgba(0,0,0,0.2) ;
}
#tag__name{
    position: absolute;
    bottom:0%;
    width:100%;
    height:20%;
    background-color: var(--primary);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    font-weight: 900;
    transition:0.5s;
    opacity: 0.8;;
}
#tag__name:hover{
    border-radius: 15px;
    
    height:25%;
 
}
#category__image{
    height:100%;
    width:100%;
    border-radius: 15px;
    filter: grayscale(0.20);
}
#collection__image{
    height:100%;
    width:100%;
    border-radius: 15px;
}
#new__arrival__image{
    height:100%;
    width:100%;
    border-radius: 15px;
}

header{
    min-height:40rem;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#heading{
    font-size:5rem;
    font-weight: 900;
    text-align: center;
}
#sub__heading{
    font-size:2rem;

}
span{
    color:var(--main-white);
}













