@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Philosopher:wght@700&display=swap");

/*Elements*/
html {
  width: 100%;
  font-size: 8px;
  font-family: Philosophy, "Noto Sans";
}
body {
  height: 100vh;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-template-rows: 1fr;
  min-height: 10vh;
  width: 100%;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  justify-items: center;
  align-items: center;
}
main {
  height: 90vh;
}
#main__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
#main__container::-webkit-scrollbar {
  display: none;
}
/*Navbar*/
#logo {
  margin-left: 2rem;
  font-size: 4rem;
}
#links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.link {
  margin-right: 2rem;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
#search__container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  box-shadow: inset -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
  margin-right: 2rem;
}
#search__input {
  width: 90%;
  min-width: 10rem;
  height: 5rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  transition: 0.5s;
  color: var(--gray-400);
  background: none;
}
i {
  display: inline-block;
  vertical-align: center;
}
#search__icon {
  color: var(--primary);
  position: relative;
  margin-left: auto;
  margin-right: 0;
  box-shadow: inset -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
.link {
  position: relative;
  font-size: 1.5rem;
  top: 2px;
  border-radius: 50%;
}
#signout {
  border: none;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  width: max-content;
  border-radius: 8px;
}

::placeholder {
  color: var(--gray-400);
  opacity: 1;
  border-left: 4px;
}

/*Main Grid first */
#wishlist__products {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  align-items: center;
  border-radius: 25px;
  padding: 2rem;
  padding-left: auto;
  padding-right: auto;
  gap: 4rem;
}
#wishlist__products::-webkit-scrollbar {
  display: none;
}

#wishlist__heading {
  text-align: center;
  margin: 4rem;
}

.liked:hover {
  transition: 0.4s;
  animation-name: liked;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
}

@keyframes liked {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card__wrapper {
  width: 30rem;
  border-radius: 16px;
  box-shadow: -0px 0px 20px 6px rgba(0, 0, 0, 0.4);
}
.card__image--tall {
  height: 20rem;
}
